version: "3.8"
services:
  inventory-service:
      build: ./inventory-service
      ports:
        - "5001:8080"
      environment:
          # In docker-compose.yml
          - ConnectionStrings__DefaultConnection=Server=sql-server,1433;Database=master;User ID=sa;Password=P@sswOrd123;TrustServerCertificate=true
      # *** UPDATED: Wait for SQL Server Health Check ***
      depends_on:
      - sql-server

  order-service:
    build: ./order-service
    ports:
      - "5002:8080"

  user-service:
    build: ./user-service
    ports:
      - "5003:8080"

  # --- SQL Server Service ---
  sql-server:
      image: mcr.microsoft.com/mssql/server:2022-latest
      environment:
        SA_PASSWORD: "P@sswOrd123" 
        ACCEPT_EULA: "Y"
      ports:
      - "1433:1433"