version: "3.8"
services:
  inventory-service:
    build: ./inventory-service
    ports:
      - "5001:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal,(localdb)\\mssqllocaldb;Database=InventoryMicro;...

  order-service:
    build: ./order-service
    ports:
      - "5002:8080"

  user-service:
    build: ./user-service
    ports:
      - "5003:8080"

  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "MySecurePass@123"
      ACCEPT_EULA: "Y"
    ports:
    - "1433:1433"
