apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: kdahalmicroacr20251110.azurecr.io/inventory-service:latest # Build and push to ACR if needed
        ports:
          - containerPort: 8080
        env:
          - name: ConnectionStrings__DefaultConnection
            value: "Server=microservices-sql.database.windows.net,1433;Database=InventoryMicro;User ID=adminuser;Password=MySecureP@ssw0rd123!;TrustServerCertificate=true;MultipleActiveResultSets=true"
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - port: 80
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: inventory-ingress
  annotations:
    kubernetes.io/ingress.class: nginx  # Routes to NGINX controller
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: inventory-service
            port:
              number: 80
